@charset "utf-8";
/* CSS Document */
#user_insert	{
		margin: 0px 5px 0px 5px;
		background-color: #0C0;
}

#database_message {
	margin: 0px 5px 0px 5px;
/*	padding: 25px 10px 25px 25px; */
}
	
#table_message {
	margin: 0px 5px 0px 5px;
/*	padding: 25px 10px 25px 25px; */
}
	
hr {
	border-width: 1px 0px 0px;
	border-style: solid;
	border-color: rgb(15, 147, 2);
}
/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
ul.nav {
	list-style: none; /* this removes the list marker */
	border-top: 1px solid #666; /* this creates the top border for the links - all others are placed using a bottom border on the LI */
	margin-bottom: 15px; /* this creates the space between the navigation on the content below */
}
ul.nav li {
	border-bottom: 1px solid #666; /* this creates the button separation */
}
ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 5px 5px 5px 15px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	width: 170px;  /*this width makes the entire button clickable for IE6. If you don't need to support IE6, it can be removed. Calculate the proper width by subtracting the padding on this link from the width of your sidebar container. */
	text-decoration: none;
	background: #C6D580;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background: #ADB96E;
	color: #FFF;
}
